# From https://docs.astral.sh/uv/guides/integration/github/#publishing-to-pypi
name: "Publish to pypi"

on:
  # Runs when one pushes with a new tag
  push:
    tags:
      - "*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # So that we can see the tags
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.14
        run: uv python install 3.14
      - name: Check format
        run: uv run ruff format --check
      - name: Lint
        run: uv run ruff check src tests
      - name: Type check
        run: uv run mypy src tests
      - name: Run tests
        run: uv run python -m unittest discover
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish
