name: "Test"

on:
  # Runs on pushes targeting any branch
  push:
    branches:
      - '**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.14
        run: uv python install 3.14
      - name: Check format
        run: uv run ruff format --check
      - name: Lint
        run: uv run ruff check src tests
      - name: Type check
        run: uv run mypy src tests
      - name: Run tests
        run: uv run python -m unittest discover
